* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --background-white: #fff;
    --yellow: #e7b45a;
    --white: #fff;
    --black: #000;
}

/* ========== START THẺ CLASS SỬ DỤNG CHUNG ========== */
.container {
    max-width: 1170px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.content-left {
    width: 458px;
    text-align: center;
}

.large-heading {
    text-transform: uppercase;
    font-size: 36px;
    color: var(--yellow);
    letter-spacing: 2px;
}

.mini-heading {
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: #353434;
    margin-bottom: 15px;
    display: block;
}

.flex-column {
    flex-direction: column;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-none {
    margin-right: 0 !important;
}

.color-form-1 {
    color: #252525;
    font-size: 15px;
}

.color-form-2 {
    color: #707070;
    font-size: 15px;
}

.text-center {
    text-align: center;
}

.mt-30 {
    margin-top: 30px;
}

.font-15 {
    font-size: 15px;
}

.col {
    float: left;
    padding: 0 15px;
    width: 300px;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
}

/* ========== END THẺ CLASS SỬ DỤNG CHUNG ========== */

#main {
    overflow: hidden;
}

/* ============ NEW CLASS ============ */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .topbar {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    z-index: 99999;
}

.header .topbar-left__text {
    color: #707070;
    font-size: 14px;
}

.header .topbar-right__link {
    text-decoration: none;
    color: #707070;
    font-size: 14px;
}

.header .topbar-right__link-char {
    color: #707070;
    font-size: 15px;
}


.header .topbar-right__link:hover {
    color: #000;
}

.header .nav-menu {
    width: 1140px;
    height: 80px;
    background: #252525;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 094404911111;
    list-style-type: none;
}

.header .nav-menu .nav-menu-items {
    padding: 0 12px;
    position: relative;
}

.header .nav-menu .nav-menu-link {
    display: inline-block;
    line-height: 80px;
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
}

.header .nav-menu .nav-menu-link:hover {
    color: var(--yellow);
}

.header .nav-menu-items:hover .sub-menu {
    display: block;
}

.header .sub-menu {
    z-index: 726033644;
    background: var(--white);
    min-width: 215px;
    box-shadow: 0 1px 2px 2px rgb(0 0 0 / 20%);
    position: absolute;
    left: 0;
    list-style-type: none;
    display: none;
    animation: growDown 580ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

.header .sub-menu .sub-menu-items {
    width: 100%;
    padding: 0 20px;
}

.header .sub-menu .sub-menu-link {
    padding: 12px 10px 12px 6px;
    font-size: 16px;
    display: block;
    color: #252525;
    line-height: 24px;
    position: relative;
    text-decoration: none;
}

.header .sub-menu .sub-menu-link:hover {
    color: var(--yellow);
}


.header .sub-menu .sub-menu-link::after {
    content: "";
    display: block;
    border: solid 1px #e5e6ec;
    width: 150px;
    position: absolute;
    top: 0;
}

.header .nav-menu .active {
    color: var(--yellow);
}

.header .nav-menu__logo {
    width: 191px;
    height: 191px;
    background: #252525;
    border-radius: 50%;
    display: block;
    display: flex;
    position: relative;
    margin: 0 15px;
    cursor: pointer;
}

.header .nav-menu__logo-image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 14%;
    left: 14%;
}

.header .nav-icon {
    position: relative;
    bottom: 3px;
}

.header .header-group {
    padding: 0 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header .header-group__border {
    font-size: 19px;
    font-weight: bold;
    color: #636363;
    padding: 0 10px;    
}


.header .header-group__icon {
    color: var(--white);
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.header .header-group__number {
    background-color: var(--white);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    font-size: 11px;
    position: absolute;
    top: 1px;
    right: 23px;
    transform: translateY(-50%);
    text-align: center;
    border: 1px solid black;
}

.nav-menu .nav-menu-bars {
    cursor: pointer;
    font-size: 24px;
    display: none;
}

.overlay-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0 , 0 , 0.6);
    display: none;
    animation: Myfax ease-in 0.4s;
    z-index: 9999999999999999999999999999;
}
@media only screen and (max-width: 768px) {
    input:checked ~ .overlay-box {
        display: block;
    }
}

@keyframes Myfax {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 320px;
    max-width: 100%;
    z-index: 9898998888;
    transform: translateX(-100%);
    transition: transform linear 0.4s;
    display: none;
}
input:checked ~ .nav-mobile {
    transform: translateX(0%);
}

.nav-mobile .nav-mobile-logo {
    width: 100%;
    background: #252525;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav-mobile .nav-mobile-image {
    width: 100px;
    height: 100px;
}

.nav-mobile .nav-mobile-list {
    list-style-type: none;
}

.nav-mobile .nav-mobile-items {
    border-bottom: 1px solid #EBEBEB;
}

.nav-mobile .nav-mobile-link {
    color: #252525;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 25px;
    display: block;
}

.nav-mobile .nav-mobile-icon {
    width: 30px;
}
/* ============ NEW CLASS ============ */

.wallpaper {
    background-image: url("image/wallpaper.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 39.5%; 
    position: relative;
    top: 10px;
    top: -150px;
}

/* ============ NEW CLASS ============ */

.section {
    padding-bottom: 150px;
}

.section .section-times {
    font-size: 14px;
    margin-bottom: 50px;
    color: #707070;
    position: relative;
}

.section .section-times::after {
    content: "";
    display: block;
    border: 1px dashed #707070;
    width: 310px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

}

.section .hover-link {
    text-decoration: none;
    color: #707070;
    font-weight: bold;
}


.section .hover-link:hover {
    color: #e7b45a;
    transition: 0.4s;
}

.section .content-desc {
    color: #707070;
    line-height: 1.7;
    font-size: 15px;
    margin-top: 60px;
}

.section .section-image {
    pointer-events: none;
    width: 652px;
}

/* ============ NEW CLASS ============ */

.menu {
    padding: 90px 0;
    background: #f3f3EB;
    text-align: center;
    background-image: url("image/wallpaper-menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu .menu-content {
    list-style-type: none;
    margin-top: 40px;
}

.menu .menu-content__list {
    display: inline-block;
    margin-right: 10px;
}

.menu .menu--active {
    background: var(--yellow);
    color: var(--white) !important;
}

.menu .menu-content__list-link {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 30px;
    color: #1f1f1f;
    border: 1px solid rgba(167,136,105,0.2);
    font-size: 15px;
}

.menu .menu-list {
    display: flex;
    margin-top: 50px;
}

.menu .menu-list__left {
    width: 50%;
}

.menu .menu-list__left-image {
    width: 68px;
    border-radius: 50%;
    clear: both;
    float: left;
    cursor: pointer;
}

.menu-content__mobile {
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 30px;
    color: #1f1f1f;
    border: 1px solid rgba(167,136,105,0.2);
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

.menu .menu-main {
    width: 440px;
    margin-left: 95px;
    margin-bottom: 35px;
    text-align: left;
    line-height: 2.0;
}

.menu .menu-group {
    position: relative;
}

.menu .menu-group__title {
    color: #1f1f1f;
    font-size: 21px;
    padding-right: 10px;
    font-weight: 400;
}

.menu .menu-group__title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.menu .menu-group__price {
    position: absolute;
    right: 0;
    bottom: 2px;
    font-weight: bold;
    font-size: 15px;
}

.menu .menu-group__price::before {
    content: " ........................................ ";
    
}

.menu .menu-main__desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 14px;
}

/* ============ NEW CLASS ============ */

.gallery {
    padding: 90px 0;
    text-align: center;
}

.gallery .gallery-container {
    display: grid;
    grid-template-columns: 555px 263px 263px;
    grid-template-rows: 1fr;
    grid-gap: 28px;
    padding: 15px;
  }

.gallery .item1 {
    grid-row: 1 / 3;
}

.gallery .gallery-image {
    width: 100%;
    vertical-align: middle;
}

.gallery .hover-image figure:hover img {
	opacity: 1;
	-webkit-animation: flash 2.5s;
	animation: flash 2.5s;
    cursor: pointer;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* ============ NEW CLASS ============ */
.silder {
    padding: 90px 0;
}

.silder .silder-avatar__image {
    border-radius: 50%;
    width: 59px;
    cursor: pointer;
    margin-right: 32px;
    border: 1px solid #e7b45a;
}

.gtco-testimonials {
    position: relative;
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  .gtco-testimonials h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
  }
  .gtco-testimonials .owl-stage-outer {
    padding: 30px 0;
  }
  .gtco-testimonials .owl-nav {
    display: none;
  }
  .gtco-testimonials .owl-dots {
    text-align: center;
  }
  .gtco-testimonials .owl-dots span {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
    background: #fff;
    border: 2px solid #e7b45a;
    margin: 0 5px;
  }
  .gtco-testimonials .owl-dots .active {
    box-shadow: none;
  }
  .gtco-testimonials .owl-dots .active span {
    background: var(--yellow);
    box-shadow: none;
    height: 12px;
    width: 12px;
    margin-bottom: -1px;
  }
  .gtco-testimonials .card {
    background: #fff;
    /* box-shadow: 0 8px 30px -7px rgb(231 180 90 / 45%); */
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
  }
  .gtco-testimonials .card .card-img-top {
    max-width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    box-shadow: 0 8px 20px -4px #95abbb;
    width: 100px;
    height: 100px;
  }
  .gtco-testimonials .card h5 {
    color: var(--yellow);
    font-size: 21px;
    line-height: 1.3;
    margin-top: 10px;
  }
  
  .gtco-testimonials .card p {
    font-size: 16px;
    line-height: 1.6;
    color: #707070;
    margin-top: 10px;
    font-weight: 100;
  }
  .gtco-testimonials .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .gtco-testimonials .center {
    opacity: 1;
  }
  .gtco-testimonials .center h5 {
    font-size: 22px;
  }
  .gtco-testimonials .center h5 span {
    font-size: 20px;
  }
  .gtco-testimonials .center .card-img-top {
    max-width: 100%;
    height: 120px;
    width: 120px;
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    outline: 0;
  }

/* ============ NEW CLASS ============ */

.form {
    background-image: url("image/wallpaper-time.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 110px 0;
}

.form .form-flex {
    justify-content: space-between;
    align-items: center;
}

.form-today__days-time {
    margin-top: 20px;
    line-height: 1.6;
}

.form .form-today__number {
    line-height: 1.6;
}

.form .form-today__number-sdt {
    display: block;
    position: relative;
    font-size: 16px;
}

.form .form-today__number-sdt::before {
    content: "";
    display: block;
    border: 1px dashed #ccc;
    width: 80%;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.form .form-today__number-link {
    text-decoration: none;
    font-size: 34px;
    color: var(--yellow);
    font-family: 'Chango', cursive;
    font-weight: 600;
    letter-spacing: 2px;
}

.form .form-today__number-link:hover {
    transition: 0.4s;
    opacity: 0.8;
}

.form .form-place {
    background: var(--yellow);
    padding: 37px 75px 30px 105px;
}

.form .form-place__title {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.form .form-place__desc {
    color: var(--white);
    font-size: 15px;
}

.form .form-main {
    margin-top: 87px;
}


.form .form-input {
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    outline: none;
    background-color: rgba(255,255,255,0.122);
    color: var(--white);
    font-size: 15px;
}

.form .form-input::placeholder {
    color: var(--white);
    font-size: 15px;
}

.form .btn {
    height: 55px;
    text-decoration: none;
    padding: 0 19.2px;
    margin-bottom: 25px;
    border: 1px solid #ebebeb;
    /* border-radius: 30px; */
    outline: none;
    background-color: rgba(255,255,255,0.122);
    color: var(--white);
    font-size: 15px;
    margin-top: 28px;
    cursor: pointer;
    position: relative;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.form .btn.btn-border-2::after,
.btn.btn-border-2::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.form .btn.btn-border-2::after {
    top: -3px;
    left: -3px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.form .btn.btn-border-2::before {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.form .btn.btn-border-2:hover::after,
.btn.btn-border-2:hover::before {
    width: calc(50% + 3px);
    height: calc(50% + 3px);
    border-color: #794629;
}

/* ============ NEW CLASS ============ */
.newspaper {
    padding-top: 90px;
    padding-bottom: 50px;
}

.news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news .news-content::after {
    content: "";
    display: block;
    clear: both;
}

.news .news-content {
    /* margin-right: -20px;
    margin-left: -20px; */
    padding: 40px 0;
}

.newspaper .large-heading {
    margin-bottom: 28px;
}

.newspaper .news-content__image {
    width: 263px;
    float: left;
    cursor: pointer;
}

.newspaper .news-main {
    width: 292px;
    float: left;
    padding: 0 20px;
}

.newspaper .news-content__icon {
    color: var(--yellow);
    width: 20px;
    margin-bottom: 20px;
}

.newspaper .news-content__calendar {
    color: #707070;
    font-size: 14px;
    
}

.newspaper .news-content__title {
    font-size: 28px;
    font-weight: bold;
    color: #252525;
}

.newspaper .news-content__title:hover {
    color: var(--yellow);
    cursor: pointer;
}

.newspaper .news-content__desc {
    margin-top: 10px;
    color: #707070;
    line-height: 1.7;
    font-size: 14px;
}

/* ============ NEW CLASS ============ */

.service .service-wrapper {
    display: flex;
}

.service .service-main__content {
    width: 395px;
    height: 151px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(204 204 204 / 50%);
    border-right: 1px solid rgb(204 204 204 / 50%);
    padding: 45px 20px;
}

.service-main__content-image {
    margin-right: 22px;
}

.service .service-main__content-desc {
    font-size: 15px;
    color: #707070;

}

/* ============ NEW CLASS ============ */
.footer {
    background-image: url("image/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding-top: 61px; */
}

.footer .footer-main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 254px;
}

.footer .footer-main__map {
    width: 458px;
    height: 537px;
}

.footer .footer-list {
    width: 585px;
}

.footer .footer-list__title {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer .footer-address {
    list-style-type: none;
}

.footer .footer-icon {
    width: 32px;
    color: #ccc;
}

.footer .footer-address__items {
    margin-bottom: 25px;
}

.footer .footer-address__items-none {
    color: #b7b7b7;
}

.footer .footer-address__items-link {
    text-decoration: none;
    color: #b7b7b7;
}

.footer .footer-address__items-link:hover {
    color: #e7b45a;
    transition: 0.4s;
}

.footer .footer-info__icon {
    margin-top: 10px;
    margin-right: 19px;
    color: #b7b7b7;
    font-size: 20px;
    cursor: pointer;
    
}

.footer .footer-info__icon:hover {
    color: var(--yellow);
}

.footer .footer-desc {
    margin-top: 48px;
    color: var(--white);
    line-height: 1.6;
    text-align: justify;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    font-weight: 700;
    position: relative;
}


.footer .footer-desc::before {
    content: "";
    display: block;
    width: 200%;
    top: -20px;
    border: 1px solid rgb(235 235 235 / 16%);
    position: absolute;
}

.footer .copyright {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
    color: white;
    margin: auto;
    padding: 40px 0;
}

.footer .copyright-main {
    color: #b7b7b7;
    font-size: 15px;
}

.footer .copyright-2 {
    display: block;
}

.footer .copyright-main__color, .footer .copyright-main__name {
    color: var(--yellow);
}

.footer .top-link {
    text-decoration: none;
    color: #b7b7b7;
    font-size: 14px;
}

.footer .top-link:hover {
    color: var(--yellow);
}

.footer .top-icon {
    background: var(--yellow);
    padding: 4px 6px;
    font-size: 14px;
    border-radius: 50%;
    margin: 0 8px;
    color: white;
}
